<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TSF-Bank</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

    <link rel="stylesheet" href="/stylesheets/home.css">

</head>

<body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-left mb-0">
                    <img src="https://thesparksfoundation.info/images/logo.png" alt="" width="30" height="24">TSF Bank
                </h3>
                <nav class="nav nav-masthead justify-content-center float-md-right">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    <a class="nav-link" href="/customers">All Users</a>
                    <a class="nav-link" href="/history">All Transactions</a>
                </nav>
            </div>
        </header>

        <main class="px-3">
            <h1 class="font-monospace display-3">TSF-Bank</h1>
            <p class="lead"><em> Welcome to TSF Bank! <br> The Nation banks on us || Pure Banking Nothing Else<br>With you
                all the way || A bank of the common man || The banker to every Indian <br></em></p>
            <div class="container">
                <div class="row justify-content-around">
                    <div class="col-4">
                        <div class="card text-white bg-dark mb-3" style="max-width: 300px;">
                            <img src="https://static.vecteezy.com/system/resources/previews/000/356/368/non_2x/leader-of-group-vector-icon.jpg"
                                class="card-img-top img-fluid rounded d-block p-3" alt="#">
                            <div class="card-body ">
                                <h5 class="card-title">Our Customers list </h5>
                                <a href="/customers" class="btn btn-secondary font-weight-bold border-white">View Users</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card text-white bg-dark mb-3" style="max-width: 300px;">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_hDWeewqDedYdGhDRpLc-YSVhCMn5EZKDWHlfU-A3f2q3GyK2mSPY9YfzniPlHso1LBY&usqp=CAU"
                                class="card-img-top img-fluid rounded d-block p-3" alt="#">
                            <div class="card-body">
                                <h5 class="card-title">Transaction History</h5>
                                <a href="/history" class="btn btn-secondary font-weight-bold border-white">View
                                    Transactions</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="mt-auto text-white-50">
            <p>&copy; TSF Bank 2021 </p>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>

</html>